name: Update Version

on:
  push:
    branches: ["main"]

jobs:
  update-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del c贸digo
        uses: actions/checkout@v4

      #  Crear un nuevo application.yml con la versi贸n basada en GITHUB_RUN_NUMBER
      - name: Actualizar versi贸n en application.yml
        run: |
          echo "app:" > src/main/resources/application.yml
          echo "  version: \"${GITHUB_RUN_NUMBER}\"" >> src/main/resources/application.yml

      # Esto permite ver qu茅 se escribi贸 (para tu examen sirve much铆simo)
      - name: Mostrar archivo actualizado
        run: cat src/main/resources/application.yml
