name: Validate Version

on:
  push:
    branches: ["main"]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Validar que application.yml contiene versión
        run: |
          if ! grep -Riq "version:" src/main/resources/application.yml; then
            echo "❌ La versión no es válida"
            exit 1
          fi
          echo "✔ Versión encontrada correctamente"
